/* USERS MAIN DIV */
.users__div {
	display: flex;
	flex-direction: column;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	margin-top: 50px;
	scroll-behavior: smooth;
}

.loading__p {
	font-size: 20px;
	font-weight: bold;
	color: var(--main-confirmation-color);
}

/* USERS H2 */
.users__h2 {
	font-size: 18px;
	font-weight: bold;
	margin: 80px 0;
}

/* USERS UL */
.users__ul {
	max-width: 85vw;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: center;
}

@media only screen and (max-width: 1200px) {
	.users__ul {
		max-width: 90vw;
	}
}

@media only screen and (max-width: 900px) {
	.users__ul {
		max-width: 95vw;
	}
}

/* USERS LI */
.users__li {
	border: solid 1px var(--main-light-color);
	border-radius: 10px;
	margin: 50px 30px 100px 30px;
	width: 290px;
	height: 380px;
	display: flex;
	flex-direction: column;
	justify-content: center;
}

@media only screen and (max-width: 500px) {
	.users__li {
		width: 100%;
		margin: 5px 5px 100px 5px;
	}
}

.users__li:hover {
	box-shadow: 3px 3px 3px 1px var(--main-light-color);
}

/* USER PIC */
.users__pic {
	max-width: 100%;
	height: 70%;
	border: solid 1px var(--main-img-color);
	background-color: var(--main-img-color);
	border-radius: 9px 9px 0 0;
	opacity: 0.7;
}

.users__pic:hover {
	opacity: 0.5;
}

/* USERS P NAME */
.users__name {
	color: var(--main-dark-color);
	margin: 10px 0;
	display: flex;
	align-items: center;
	font-size: 20px;
	font-weight: bold;
}

/* USERS LINK */
.users__link {
	color: var(--main-grey-color);
	margin: 5px 0;
	word-break: break-all;
	display: flex;
	align-items: center;
}

.users__link:hover {
	color: var(--main-feat-color);
}

/* USERS P CITY */
.users__city {
	color: var(--main-grey-color);
	margin: 5px 0;
	display: flex;
	align-items: center;
}

.icon__img {
	width: 25px;
	margin: 10px 10px 10px 15px;
}
