/* USERS MAIN DIV */
.users__div {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	margin-top: 250px;
}

/* USERS H2 */
.users__h2 {
	font-size: 18px;
	font-weight: bold;
	margin: 50px 0;
	position: absolute;
	top: 100px;
}

/* USERS UL */
.users__ul {
	/* border: solid 1px red; */
	max-width: 100vw;
	position: absolute;
	top: 200px;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-evenly;
	align-items: center;
	/* padding: 300px 0; */
}

/* USERS LI */
.users__li {
	border: solid 1px #f0f0f0;
	background-color: #f0f0f0;
	border-radius: 10px;
	margin: 50px;
	width: 250px;
	height: 300px;
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	align-items: center;
}

.users__li:hover {
	border: solid 1px darkgrey;
	background-color: #f0f0f096;
}

/* USERS P NAME */
.users__name {
	color: #457b9d;
	margin: 5px;
	font-size: 20px;
	font-weight: bold;
}

/* USERS LINK */
.users__link {
	/* text-decoration: none; */
	color: black;
	margin: 5px auto;
}

.users__link:hover {
	color: #457b9d;
}

/* USERS P CITY */
.users__city {
	margin: 5px auto;
}
