/* FORM MAIN */
.main__form {
	/* border: solid 1px red; */
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	padding: 10px;
}

/* BUTTON FORM */
.legend__form {
	font-size: 18px;
	font-weight: bold;
	margin: 0 auto 20px;
	color: #265cff;
}

/* BUTTON FORM */
.label__form {
	font-size: 16px;
	font-weight: bold;
	margin: 20px 0 0 20px;
	align-self: flex-start;
}

/*  INPUT FORM */
.input__form {
	margin: 10px 0 10px 0;
    padding: 10px;
    /* width: 300px; */
}

/* BUTTON FORM */
.button__form {
	color: white;
	background-color: #265cff;
	border: solid 1px #265cff;
	font-size: 18px;
	padding: 10px 50px;
	margin: 30px auto;
}
