/* MAIN DIV */
.main__pages {
	min-height: 100vh;
	width: 100vw;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

/* ABOUT PAGE */
.about__page {
	background-color: var(--about-bg-color);
}

/* CONTACT PAGE */
.contact__page {
	background-color: var(--contact-bg-color);
}

/* H2 */
.h2__pages {
	margin: 50px;
	font-size: 22px;
	font-weight: bold;
}

/* LOGIN LINK */
.login__link {
	text-decoration: none;
	color: var(--main-bg-color);
	background-color: var(--main-feat-color);
	border: solid 1px var(--main-feat-color);
	font-size: 18px;
	padding: 10px 50px;
	margin: 30px auto;
}

.login__link:hover {
	opacity: 0.8;
}
