/* APP MAIN DIV */
.home__div {
	display: flex;
	border: solid 1px var(--main-light-color);
	border-radius: 10px;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

h2 {
	font-size: 22px;
	font-weight: bold;
	margin: 30px;
}
